@import "reset";
@import "variebles/global";
@import "themes/normal";
@import "themes/dark";

.app {
  min-height: 100vh;
  background: var(--bg-color);
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  width: 100%;
  padding: 20px;
}
