.Sidebar {
  width: 300px;
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: 80px;

  &_btn {
    position: absolute;
    right: -30px;
    bottom: 35px;
  }

  .switchers {
    flex-direction: column;

    .lang {
      margin-left: 0;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
    height: 0;
  }
}

.switchers {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.lang {
  margin-left: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .icon {
    fill: var(--inverted-primary-color);
    margin-right: 10px;
  }
}
