.app.dark {
  --bg-color: #04043b;
  --inverted-bg-color: #ceceda;
  --primary-color: #56a156;
  --secondary-color: #9bcb9b;
  --inverted-primary-color: #0d2679;
  --inverted-secondary-color: #3871b6;
}
