.app.light {
  --bg-color: #e1e1e7;
  --inverted-bg-color: #030326;

  --primary-color: #0d2679;
  --secondary-color: #3871b6;
  
  --inverted-primary-color: #9bcb9b;
  --inverted-secondary-color: #56a156;
}
