.orange {
  --bg-color: #e7e1e1;
  --inverted-bg-color: #dc6f44;
  --primary-color: #a12f08;
  --secondary-color: #d50a0a;
  --inverted-primary-color: #dfdfe3;
  --inverted-secondary-color: #e5e6ea;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  //code
  --code-bg: #fff;

  // article card
  --card-bg: #a5a5d3;
}
